.centralizingWrapper {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 190px;
}

.wrapper {
    display: inline-flex;
    margin-top: 0px;
}

.container {
    max-height: 680px;
}

.screenPath {
    position: relative;
    /* top: 220px; */
    /* left: 422px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 35px;
    margin-left: 10px;
}

.screenPathText {
    font-size: 22px;
}

.wrapperContact {
    width: 100%;
    display: inline-grid;
    align-items: center;
    justify-content: center;
}

.boxContact {
    background-color: #0d0d0d;
    width: 470px !important;
    height: 200px !important;
    border: solid 0.5px #1a1a1a;
    margin-left: 170px;
    border-radius: 0px;
    cursor: pointer; 
    box-shadow: inset 0 0 0 0 #66FF99;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.boxContact:hover {
    background-color: #66ff99;
    box-shadow: inset 0 0 0 50px #66FF99;
}

.boxContact-lower {
    background-color: #0d0d0d;
    width: 470px !important;
    height: 200px !important;
    border: solid 0.5px #1a1a1a;
    margin-top: 50px;
    margin-left: 170px;
    border-radius: 0px;
    cursor: pointer; 
    box-shadow: inset 0 0 0 0 #66FF99;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.boxContact-lower:hover {
    background-color: #66ff99;
    box-shadow: inset 0 0 0 50px #66FF99;
}

.boxContact p {
    text-align: center;
}

.boxContact-lower p {
    text-align: center;
}

.infoContact {
    display: flex;
    justify-content: center;
}

.textContact {
    line-height: 2;
}

.titleContact {
    font-size: 17px;
    transition: 0.3s all ease-in-out;
}

.descriptionContact {
    font-size: 15px;
    transition: 0.3s all ease-in-out;
}

.iconTel {
    width: 45px;
    height: 45px;
    display: flex;
    margin: 40px auto 20px;
}

#imgPhoneGreen {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease-in-out;
}

#imgEmailGreen {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease-in-out;
}

#imgAddressGreen {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease-in-out;
}

#imgLinkedinGreen {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1600px) {
    .footerSocialMedia {
        display:none !important;
    } 

    #footerContact {
        position: relative !important;
        line-height: 250%;
        display: grid;
        justify-content: center;
        margin-top: 95px;
        bottom: 0px !important;
        left: 0px !important;
        margin-top: 65px;
        margin-bottom: 40px;
    }
}