.corpoHome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
    padding-right: 110px;
}

.divCentralText {
    margin-top: 235px;
    margin-right: 320px;
    width: 100%;
    max-width: 770px;
}

.centralText {
    font-size: 40px;
    margin-left: 15px;
    line-height: 150%;
}

.greenCentralText {
    color: #66FF66;
}

.caixaSkills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
}

.caixaSkills span {
    font-size: 52px;
    color: #66FF66;
}

/* ----------- MEDIA QUERY -------------- */

@media screen and (max-width: 1400px) {
    .divCentralText {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1025px) {

    .caixaSkills {
        display:none !important;
    }

    .corpoHome {
        display: block;
    }

    .divCentralText {
        margin-right: 0px;
        margin-left: 70px;
        margin-top: 180px;
    }
}

@media screen and (max-width: 650px) {

    .corpoHome {
        display: block;
        padding-top: 165px;
    }

    .divCentralText {
        width: 100% !important;
        margin-left: 40px !important;
    }
}

@media screen and (max-width: 565px) {
    .divCentralText {
        margin-top: 100px;
    }
}