.header {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.imgHome {
    background-repeat: no-repeat;
    width: 100%;
    max-height: 937px !important;
    filter: brightness(10%);
    -webkit-filter: brightness(10%);
}

.listHeader {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: bold;
    margin-top: 20px;
}

.listItem-header{
    padding: 15px;
}