.sectionHome{
    width: 100%;
    height: 937px;
    background-image: url(../../assets/imgHome.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 937px !important;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #001F3F;
    height: 55px;
}

.listHeader {
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #F0F0F5;
    font-weight: bold;
    /* margin-top: 20px; */
}

.listItem-header{
    padding: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.boxHome {
    margin: 0 auto;
    width: 700px;
    height: 300px;
    padding-top: 350px;
}


.boxHome h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 75px;
    color: #F0F0F5;
}

.boxHome h6 {
    font-size: 50px;
    font-weight: lighter;
}

.boxHome h1 {
    font-size: 56px;
    font-weight: bold;
}
.boxHome h3 {
    font-size: 36px;
    font-weight: lighter;
}

.boxHome p {
    color: #F0F0F5;
}

.sectionAboutMe {
    width: 100%;
    height: 650px;
}

.sectionAboutMe h4 {
    color: #666666;
    letter-spacing: 5px;
    font-size: 22px;
}

.sectionAboutMe h1 {
    color: #001D38;
    text-align: center;
    margin-top: 10px;
    font-size: 42px;
}

.verticalCenteredLine {
    margin: 0 auto;
    background-color: #666666;
    width: 2px;
    height: 75px;
}

.boxHobbiesInterests {
    width: 60%;
    margin: 70px auto;
}

.linkHobbiesInterests {
    width: 340px;
    height: 300px;
    background-color: #FFF;
    box-shadow: 7px 10px 0px #CCCCCC;
    border-left: #001D38 solid 20px;
    float: left;
    margin-right: 40px;
    transition: all 0.4s ease-in-out;
}

.linkHobbiesInterests:hover {
    border: solid 6px #001F3F;
    transition: all 0.4s ease-in-out;
}

.linkHobbiesInterests img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.linkHobbiesInterests h4 {
    color: #333333;
    letter-spacing: 1px;
}

.linkHobbiesInterests p {
    text-align: center;
    color: #666666;
}

.sectionEducation {
    width: 100%;
    height: 600px;
    background-color: #001F3F;
}

.sectionEducation h4 {
    color: #d9d9d9;
    letter-spacing: 5px;
    font-size: 22px;
}

.sectionEducation h1 {
    color: #F0F0F5;
    text-align: center;
    margin-top: 10px;
    font-size: 42px;
}
.boxEducation {
    width: 60%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
}

.linkEducation {
    width: 500px;
    height: 220px;
    background-color: #F0F0F5;
    float: left;
    margin: 0 20px;
}

 .educationBoxImage{
    width: 18%;
    height: 100%;
    float: left;
}

.educationBoxTexts {
    width: 82%;
    height: 100%;
    float: left;
}

.educationBoxImage img {
    margin-left: 10px;
    margin-top: 10px;
}

#titleSchooling {
    font-size: 18px;
    text-align: left;
    margin-top: 35px;
    margin-left: 30px;
    font-weight: bold;
}

#institutionSchooling {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dateSchooling {
    font-size: 12px;
    margin-left: 30px;
}

#descriptionSchooling {
    font-size: 15px;
    text-align: justify;
    color: #444444;
    margin-top: 30px;
}

.educationBoxTexts p {
    color: #333333;
    margin-left: 30px;
    margin-right: 30px;
}

.sectionMyExperience {
    width: 100%;
    height: 1050px;
    border-bottom: 50px solid #615CFD;
    /* border-left: 50px solid #615CFD;
    border-right: 50px solid #615CFD; */
}

#typeSkills {
    font-size: 52px;
    font-weight: 400;
    color: #F0F0F5;
    text-align: center;
    margin-top: 130px;
}

.boxMyExperience {
    max-width: 1200px;
    width: 1200px;
    height: 388px;
    margin: 0 auto;
    transition: 0.3s all;
}

.boxExperienceResume {
    width: 30%;
    height: 100%;
    float: left;
}

#experience {
    color: #666666;
    letter-spacing: 5px;
    font-size: 22px;
    text-align: center;
}

.boxExperienceDetail {
    width: 70%;
    height: 100%;
    float: left;
    padding: 40px;
    padding-left: 60px;
}

#textExperienceTitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    color: #252525;
}

#textExperienceTitle span {
    color: #615CFD;
}

#textExperienceResume {
    color:#666464;
    font-size: 16px;
    text-align: justify;
}

.textWorkTitle {
    font-size: 18px;
    font-weight: 700;
    color: #252525;
}

.textWorkTitle span {
    color:#615CFD;
}

.dateExperience {
    color:#666464;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.descriptionExperience {
    color:#666464;
    font-size: 16px;
    font-style: italic;
}

.experienceLineSeparator {
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 30px 0;
}

.boxMySkills {
    max-width: 1200px;
    width: 1200px;
    height: 388px;
    margin: 0 auto;
    transition: 0.3s all;
}

.boxSkillsResume {
    width: 30%;
    height: 100%;
    float: left;
}

.boxSkillsCharts {
    width: 70%;
    height: 100%;
    float: left;
    padding: 40px;
    padding-left: 60px;
}

#textSkillTitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    color: #252525;
}

#textSkillTitle span {
    color: #615CFD;
}

#textSkillResume {
    color:#666464;
    font-size: 16px;
    text-align: justify;
}
