.headerColor {
    margin: 0 auto;
    background-color: #1a1a1a;
    width: 100%;
    height: 330px;
    position: absolute;
}

.bodyColor {
    background-color: #404040;
    width: 100%;
    height: 100%;
    padding-top: 550px;
}

.centralizer {
    margin: 0 auto;
    width: 1100px;
    height: auto;
}

.returnIcon {
    float: right;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 15px;
    width: 100%;
}

.linkIcon {
    float: right;
    padding: 11px;
    background-color: #00CC66;
    width: 130px;
    text-align: center;
    color: #000000;
    border-radius: 30px;
}

.linkIcon:hover {
    color: #000000 !important;
}

.iconFi {
    margin-right: 5px;
}

.boxHeader {
    width: 100%;
    height: 340px;
}

.boxPic {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #CCCCCC;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.4) ;
}

.mePic {
    width: 100%;
    height: 100%;
}

.boxHeaderInfo {
    width: 70%;
    height: 77%;
    float: right;
    background-color: #fff;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.4) ;
}

.footerInHeader {
    width: 70%;
    height: 23%;
    float: right;
    background-color: #1A1A1A;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.4) ;
}

.helloBox {
    margin-top: 18px;
    margin-left: 55px;
    background-color: #00CC66;
    width: 140px;
    padding: 6px;
    box-shadow: 8px 8px 3px #CCCCCC;
}

.helloBox p {
    color: #FFF;
    text-align: center;
}

.infoIntroduction {
    margin-top: 15px;
    margin-left: 55px;
}

.infoIntroduction h2 {
    color: #000000;
}

.infoIntroduction h2 span {
    color: #00CC66;
}

.infoIntroduction h3 {
    color: #000000;
    margin-top: 10px;
}

.headerLineSeparator {
    margin: 20px 55px;
    opacity: 0.5;
}

.personalInfo {
    margin-left: 55px;
}

.personalInfo h4 {
    color: #404040;
    padding: 5px;
}

.topicTitle {
    color: #00CC66;
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
}

.boxDownloadCV {
    width: 100%;
    height: 250px;
    background-color: #FFF;
    margin-bottom: 70px;
    box-shadow: 9px 9px 2px rgba(0, 0, 0, 0.4) ;
}

.textBoxDownloadCV{
    color: #000000;
    text-align: justify;
    margin: 0px 50px;
    padding-top: 45px;
}

.lineSeparatorBoxDownloadCV {
    margin: 45px 50px 20px;
    opacity: 0.5;
}

.boxButtons {
    margin: 35px auto;
    width: 35%;
}

.btnDownloadCV {
    padding: 5px;
    width: 170px;
    background-color: #1a1a1a;
    color: #FFF;
    border-color: #1A1A1A;
    font-size: 14px;
    font-weight: bold;
}

.contactMeLink {
    width: 170px;
    background-color: #1a1a1a;
    color: #FFF;
    border-color: #1A1A1A;
    font-size: 14px;
    float: right;
    text-align: center;
    padding: 7px;
    font-weight: bold;
}

.contactMeLink:hover {
    color: #FFF !important;
}
