@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

body{
    background: linear-gradient(90deg, #1A1A1A  0.2%, transparent 0.10%) -5px , #0d0d0d;
    background-size: 390px 1px;
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

h1, h2, h3, h4, h5, p {
    color: #FFF;
}

button {
    cursor: pointer;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.header{
    position: fixed;
    top: 0;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 70px;
    width: 100%;
}

.logo {
    float:left;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    transition: all  1s;
} 

.logoSeparadorSobrenome {
    color: #CCCCCC;
}

.logo:hover {
    color: #66FF66;
    transition: all  1s;
    transform: scale(1.1);
}

.menuDesktop {
    list-style-type: none;
    float: right;
    display: table;
}

.listItem {
    text-decoration: none;
    display: table-cell;
    padding-right: 65px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: #cccccc;
    font-size: 17px;
}

a:hover {
    color: #66FF66;
    transition: 0.5s;
}

.imgMenu {
    margin-left: 9.5px;
    margin-top: 7px;
    background-image: url('../src/assets/menu.png');
    background-repeat: no-repeat;
    transition: 0.1s linear;
}

.imgMenuClosed {
    margin-left: 10.5px;
    margin-top: 10.5px;
    background-image: url('../src/assets/closemenu.png');
    background-repeat: no-repeat;
    transition: 0.1s linear;
}

.footerEmailTel {
    /* max-width: 300px; */
    position: absolute;
    bottom: 100px;
    left: 100px;
    line-height: 250%;
}

.footerSocialMedia {
    position: absolute;
    bottom: 220px;
    right: 0px;
    -webkit-transform: rotate(450.0deg);
    -ms-transform: rotate(450.0deg);
    -moz-transform: rotate(450.0deg);
    display: inline-flex;
}

.indicator {
    margin-left: 20px;
    border: solid 0.5px #FFF;
    width: 50px;
    display: inline-flex;
}

.footerTextSocialMedia {
    margin-right: 20px;
}

.imgSocialMedia img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    transition: all 1s;
}

/* ----------- MEDIA QUERY -------------- */

@media screen and (max-width: 1295px) {
    /* .footerSocialMedia {
        display:none !important;
    } */
}

@media screen and (max-width: 1025px) {

    .corpoHome {
        padding-top: 190px;
    }

    .footerSocialMedia {
        display:none !important;
    }

    .menuDesktop {
        display: none;
    }

    .menuBurger {
        width: 45px;
        height: 45px;
        float: right;
        background-color: #66FF66;
        border-radius: 8px;
        right: 55px;
        position: absolute;
        z-index: 1;
    }

    .zeroOpacity {
        opacity: 0 !important;
    }

    .oneOpacity {
        opacity: 1 !important;
    }

    #linkMenuBurger {
        list-style-type: none;
        padding: 5px;
        display: inline-grid !important;
        background-color: #1A1A1A;
        position: absolute;
        right: 0px;
        height: 300px;
        top: 0px;
        transition: all 0.3s;
        width: 150px;  
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px; 
    }

    #imgMenu {
        display: block;
    }

    #linkMenuBurger li {
        text-align: center;
    }

    #firstListItem {
        margin-top: 180px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        font-size: 16px;
        margin-left: 50px;
    }

    .footerEmailTel {
        position: relative !important;
        line-height: 250%;
        display: grid;
        justify-content: center;
        margin-top: 95px;
        bottom: 0px !important;
        left: 0px !important;
        margin-top: 80px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 465px){
    .logo {
        font-size: 13px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 400px){

    .logo {
        font-size: 13px;
        margin-left: 15px;
    }

    .menuBurger {
        right: 30px; 
    }
}